    <div>
        <div style="background-color:rgb(224, 224, 220);margin-top:60px;margin-left:30px;margin-right:30px;height:70px;">
            <img src="../assets/logo.png" height="70px" style="float:left;">
            <h1 style="font-family: sans-serif;color:rgb(202, 33, 67);text-decoration-style:dotted;float:left;margin-left: 20px;font-size: 30px;margin-top: 13px;">Angular Store</h1>
        </div>
        <div>
            <p style="color:blue;margin-left: 30px;font-size: 14px;">Welcome to Angualr Store<br>Please select  the  products you want add them to your shopping cart<br>When you are done click the shopping cart icon to review your order and check it<p>   
        </div>
        <div style>
        <router-outlet></router-outlet>
        </div>
    </div>
    